<div id="<%= dom_id(team) %>" style="margin-top: 25px; margin-bottom: 25px; ">
  <%= form_for team, remote: true, html: { style: "display: inline-block; " } do |f| %>
    <%= f.text_field :name, value: team.name %>
    <%= f.submit %>
  <% end %>
  <%= form_for team, remote: true, method: :delete, html: { style: "margin-left: 10px; display: inline-block; " } do |f| %>
    <%= f.submit "Delete Team" %>
  <% end %>
  <% team.users.each do |user| %>
    <div id="<%= dom_id(user) %>">
      <%= name_with_status(user.full_name, user.status, user.id) %>
      <%= form_for user, remote: true, html: { style: "margin-left: 10px; display: inline-block; " } do |f| %>
        <%= f.collection_select :team_id, Team.where(Team.arel_table[:id].not_eq(user.team_id)), :id, :name %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>