<%= form_for Team.new, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<div id="teams">
  <% @teams.each do |team| %>
    <div id="<%= dom_id(team) %>">
      <%= form_for team, remote: true, html: { style: "display: inline-block; " } do |f| %>
        <%= f.text_field :name, value: team.name %>
        <%= f.submit %>
      <% end %>
      <%= form_for team, remote: true, method: :delete, html: { style: "margin-left: 10px; display: inline-block; " } do |f| %>
        <%= f.submit "Delete Team" %>
      <% end %>
      <% team.users.each do |user| %>
        <div id="<%= dom_id(user) %>">
          <%= name_with_status(user.full_name, user.status, user.id) %>
          <%= form_for user, remote: true, html: { style: "margin-left: 10px; display: inline-block; " } do |f| %>
            <%= f.collection_select :team_id, Team.where(Team.arel_table[:id].not_eq(user.team_id)), :id, :name %>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div id="no_team">
  <strong>No Team</strong><br />
  <% User.without_user(current_user).where(team_id: nil).each do |user| %>
    <div id="<%= dom_id(user) %>">
      <%= name_with_status(user.full_name, user.status, user.id) %>
      <%= form_for user, remote: true, html: { style: "margin-left: 10px; display: inline-block; " } do |f| %>
        <%= f.collection_select :team_id, Team.all, :id, :name %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $('#teams select').prepend('<option value="0">Remove Team</option>');
  $('#teams option[value=0]').prop('selected', true);
</script>